@model Ficha14.Models.UserViewModel

@{
    ViewData["Title"] = "User Details";
}


<div class="text-center">
    <h1 class="display-4">Welcome @Model.UserName</h1>
    

<h2>User Details</h2>
<address>    
    <br> ID: @Model.ID </br>
    <br> User: @Model.UserName </br>
    <br> Email: @Model.Email </br>
    <br> Role: @Model.Role </br>
    <br> Token: @ViewData["Token"] </br>
</address>
</div>